* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-color: #020202; 
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
  }
  
  /* Nav CSS */
  li{
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  a:hover{
    color: orange;
  }
  
  header{
    position: relative;
    padding: 0 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .links{
    display: flex;
    gap: 4rem;
  }
  
  .navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale 0.2 ease;
  }
  
  .action_btn:hover{
    scale: 0.96;
    color: #fff;
  }
  
  .action_btn:active{
    scale: 0.95;
  }
  
  
  /* Slider css */
  .container{
    padding: 2rem;
    margin:auto;
    /* overflow-x: hidden; */
  }
  
  .slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    /* overflow-x: hidden; */
  }
  
  .slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 , 0%, 0%, 0.25);
    border-radius: 0.5rem;
  }
  
  .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
  
  .slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  
  .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
  
  .slider-nav a:hover{
    opacity: 1;
  }
  
  /* Video CSS */
  
  
  
  .back-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }

.sfInnerPage {
    margin: 5% 0%;
}

.sfCol_100 {
    width: 100%;
}

.sfInnerwrapper {
    width: 1170px;
    margin: 0px auto;
    position: relative;
    float: none;
}

.sfInnerwrapper [class*="sfCol_"] {
    padding-left: 15px;
    padding-right: 15px;
}

.sfCol_65 {
    width: 65%;
}

.sfCol_35 {
    width: 35%;
}

.sfTotal{
  color: #fff;
}

.bookingContentWrapper{
    display: flex;
}

.sfPosition{
  color: #fff;
  height: 5vh;
  margin: 15px;
  font-size: 40px ;
}

.booking-cart {
    width: 100% !important;
    grid-column: 1/2;
    grid-row: 1/3;
}

.booking-title {
    color: orange;
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    max-width: 100%;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.list-items li label, .ticket-summary table tr td:first-child, .food-summary table tr td:first-child, .booking-cart tr td:first-child, .sfSummaryDetails label {
    color: orange;
    font-weight: 600;
    font-size: 15px;
}

table.total-cart tr td {
    text-align: center;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
}

.coupon-wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 1rem;
}

table.ticket-charge {
    margin-top: 20px;
    grid-column: 2/3;
}

table {
    max-width: 100%;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td.sfBrdRgt.sfTotal {
    font-weight: 600 !important;
    text-align: right;
    padding-right: 30px;
}

ul.booking-summary-payment {
    list-style-type: none;
    padding: 0px;
}

ul.booking-summary-payment li {
    display: inline-block;
    margin-right: 20px;
}

ul.booking-summary-payment li .lnkPayment {
    cursor: pointer;
    display: block;
    padding: 8px 15px 0px;
}

ul.booking-summary-payment li .lnkPayment img {
    height: 50px;
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 3px;
}

/* .summary-pannel {
    grid-column: 2/3;
    grid-row: 1/2;
} */

.summary-pannel{
  height: 35vh;
}

.summary-pannel, .ticket-summary, .food-summary, .booking-cart {
    padding: 20px;
    transition: all 0.5s ease-in-out;
    clear: both;
    border: 1px solid orange;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

h4, .h4 {
    font-size: 22px;
}

.list-items {
    list-style-type: none;
    padding-top: 15px;
    margin: 0px;
}

.list-items li {
    line-height: 1.8;
}

/* .clearfix:after, .clearfix:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} */

.btn {
  background-color: orange;
  margin-top: 10px;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed orange;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
 }
 
 .btn span:last-child {
  display: none;
 }
 
 .btn:hover {
  transition: .4s;
  border: 2px dashed orange;
  background-color: #fff;
  color: orange;
 }
 
 .btn:active {
  background-color: orange;
 }

.list-items li label, .ticket-summary table tr td:first-child, .food-summary table tr td:first-child, .booking-cart tr td:first-child, .sfSummaryDetails label {
    color: orange;
    font-weight: 600;
    font-size: 15px;
}

.list-items li span {
    color: #fff;
}

p {
    margin: 0 0 10px;
    line-height: 1.7;
}

.sfShoppingCartDetails:nth-child(odd), .sfSummaryDetails:nth-child(odd) {
    padding-top: 0;
}

.sfSummaryDetails {
    padding: 0 20px; 
    font-size: 14px; 
    background: transparent repeat scroll 0 0; 
    width: 100%; 
    margin: 0 20px; 
    display: flex;
    flex-direction: column;
}

.sfSummaryDetails>div {
    display: flex;
    margin: 10px 0;
}

#ulBookedSeats, #ulFoods {
    width: calc(100% - 70px);
    float: right;
    display: flex;
}

.list-items li small, .sfSummaryDetails ul li {
    background: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 3px 5px;
    margin: 0px 9px 5px 6px;
    font-size: 12px;
}

.summary-pannel, .ticket-summary, .food-summary, .booking-cart {
    padding: 20px;
    transition: all 0.5s ease-in-out;
    clear: both;
    border: 1px solid orange;
    box-sizing: border-box;
}



.ticket-summary {
    grid-column: 2/3;
    grid-row: 2/3;
    color: #fff;
}

.sfGoldTxt{
  color: #fff;
  margin:10px 0px;
}

#divShoppingCart{
  height: auto;
  padding: 5px 0;
}

.sfShoppingCartDetails:nth-child(odd), .sfSummaryDetails:nth-child(odd) {
    padding-top: 0;
}

.sfShoppingCartDetails .sfCalculationTable {
    margin-bottom: 0px;
}

/* footer css */

.footer{
    background: #000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
   
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
  }
  
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 3rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: orange;
  }
  
  
  
  .footer-middle{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 3rem 0;
    color: #fff;
  }
  
  .footer-bottom{
    background: transparent;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: #fff;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 9px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: orange;
  }
